<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670919806594-8glk36m4e60hfk7b95r51eabj4ro6oj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670919806594-8glk36m4e60hfk7b95r51eabj4ro6oj4</string>
	<key>API_KEY</key>
	<string>AIzaSyDKp6DwrsmJ3kJ93_EQ8Urb9u2xtaqBBV0</string>
	<key>GCM_SENDER_ID</key>
	<string>670919806594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Nithin.ProjectPractice1</string>
	<key>PROJECT_ID</key>
	<string>projectpractice1-76e66</string>
	<key>STORAGE_BUCKET</key>
	<string>projectpractice1-76e66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670919806594:ios:d99277529183bf70dcee9b</string>
</dict>
</plist>