<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39047887840-9l6hpjgllhnmn5t1nsm04fs5baeh7m8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39047887840-9l6hpjgllhnmn5t1nsm04fs5baeh7m8i</string>
	<key>API_KEY</key>
	<string>AIzaSyBPtLHyjEcOHjhPpUK_IDd69kiH1f5YwC8</string>
	<key>GCM_SENDER_ID</key>
	<string>39047887840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Nithin.Quizlet-ish</string>
	<key>PROJECT_ID</key>
	<string>quizlet-ish-86b38</string>
	<key>STORAGE_BUCKET</key>
	<string>quizlet-ish-86b38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39047887840:ios:eb9b3c345204d1c6b48985</string>
</dict>
</plist>